<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="student" class="com.mgBusiness.beans.Student">
		<!-- <constructor-arg ref="branch"/> -->
		<property name="branch" ref="branch"></property>
	</bean>
	<bean id="branch" class="com.mgBusiness.beans.Branch">
		<!-- <constructor-arg ref="student"/> -->
		<property name="student" ref="student"></property>
	</bean>
</beans>
                